<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TutorialsNinja Automation Suite" verbose="1">

    <listeners>
        <listener class-name="utils.TestListener"/>
    </listeners>

    <test name="All Test Cases">
        <classes>
            <class name="tests.ValidRegistrationTests"/>
            <class name="tests.InValidRegistrationTests"/>
            <class name="tests.ValidLoginTests"/>
            <class name="tests.InvalidLoginTests"/>
            <class name="tests.NavigationTests"/>
            <class name="tests.SearchSubcategoriesTests"/>
            <class name="tests.SearchByNameTests"/>
            <class name="tests.ChangeCurrencyTest"/>
            <class name="tests.SortTests"/>
            <class name="tests.CartTests"/>
            <class name="tests.CheckoutTests"/>
        </classes>
    </test>
</suite>
